// CS3MESH4EOSC Branding
$primary-blue: #1F91CC;
$primary-grey: #454A54;
$secondary-orange: #DF810A;
$secondary-grey: #554F45;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

$primary-fonts: Roboto, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$secondary-fonts: Calibri, $primary-fonts;
$spacing-base: 2rem;
