@mixin animate($val){
  animation:$val;
  -moz-animation:$val;
  -webkit-animation:$val;
  -o-animation:$val;
  -ms-animation:$val;
}

@keyframes marching-ants {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes staggered-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
